:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.list {
    flex: 1;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
    overflow-y: auto;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.empty-list {
    padding-left: 10px;
    color: grey;
}

.list li {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}