    <div class="chess-board">
        <div class="row">
            <div class="cell black">♜</div>
            <div class="cell white">♞</div>
            <div class="cell black">♝</div>
            <div class="cell white">♛</div>
            <div class="cell black">♚</div>
            <div class="cell white">♝</div>
            <div class="cell black">♞</div>
            <div class="cell white">♜</div>
        </div>
        <div class="row">
            <div class="cell white">♟</div>
            <div class="cell black">♟</div>
            <div class="cell white">♟</div>
            <div class="cell black">♟</div>
            <div class="cell white">♟</div>
            <div class="cell black">♟</div>
            <div class="cell white">♟</div>
            <div class="cell black">♟</div>
        </div>
        <div class="row">
            <div class="cell black"></div>
            <div class="cell white"></div>
            <div class="cell black"></div>
            <div class="cell white"></div>
            <div class="cell black"></div>
            <div class="cell white"></div>
            <div class="cell black"></div>
            <div class="cell white"></div>
        </div>
        <div class="row">
            <div class="cell white"></div>
            <div class="cell black"></div>
            <div class="cell white"></div>
            <div class="cell black"></div>
            <div class="cell white"></div>
            <div class="cell black"></div>
            <div class="cell white"></div>
            <div class="cell black"></div>
        </div>
        <div class="row">
            <div class="cell black"></div>
            <div class="cell white"></div>
            <div class="cell black"></div>
            <div class="cell white"></div>
            <div class="cell black"></div>
            <div class="cell white"></div>
            <div class="cell black"></div>
            <div class="cell white"></div>
        </div>
        <div class="row">
            <div class="cell white"></div>
            <div class="cell black"></div>
            <div class="cell white"></div>
            <div class="cell black"></div>
            <div class="cell white"></div>
            <div class="cell black"></div>
            <div class="cell white"></div>
            <div class="cell black"></div>
        </div>
        <div class="row">
            <div class="cell black">♙</div>
            <div class="cell white">♙</div>
            <div class="cell black">♙</div>
            <div class="cell white">♙</div>
            <div class="cell black">♙</div>
            <div class="cell white">♙</div>
            <div class="cell black">♙</div>
            <div class="cell white">♙</div>
        </div>
        <div class="row">
            <div class="cell white">♖</div>
            <div class="cell black">♘</div>
            <div class="cell white">♗</div>
            <div class="cell black">♕</div>
            <div class="cell white">♔</div>
            <div class="cell black">♗</div>
            <div class="cell white">♘</div>
            <div class="cell black">♖</div>
        </div>
    </div>