<div class="container">
  <app-menu (list)="openList($event)" (new)="createGame($event)"></app-menu>
  <main class="content">
    <app-board [id]="gameId"></app-board>
    <ng-container [ngSwitch]="menu">
      <app-chat *ngSwitchCase="'chat'"></app-chat>
      <app-game-list *ngSwitchCase="'list'" [view]="listType" (openGame)="openGame($event)"></app-game-list>
      <app-new-game-modal *ngSwitchCase="'new'" [ai]="aiGame" (new)="doCreateGame($event)"></app-new-game-modal>
    </ng-container>
  </main>
</div>
<app-toast></app-toast>
<div class="modal-overlay" *ngIf="!logged">
    <div class="modal">
        <app-modal-register *ngIf="registerCard" (card)="changeRegisterCard($event)"></app-modal-register>
        <app-modal-login *ngIf="!registerCard" (card)="changeRegisterCard($event)"></app-modal-login>
    </div>
</div>