.container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.content {
    display: flex;
    flex: 1;
    padding: 20px;
    justify-content: space-between;
}

.toasts {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 900px) {
    .content {
        gap: 20px;
        flex-direction: column;
    }
    
    .container {
        height: auto;
        overflow: visible;
    }
}