<div class="container">
  <app-menu (list)="openList($event)"></app-menu>
  <main class="content">
    <app-board></app-board>
    <ng-container [ngSwitch]="menu">
      <app-chat *ngSwitchCase="'chat'"></app-chat>
      <app-game-list *ngSwitchCase="'list'" [view]="listType"></app-game-list>
    </ng-container>
  </main>
</div>
<app-toast></app-toast>
<div class="modal-overlay" *ngIf="!logged">
    <div class="modal">
        <app-modal-register *ngIf="registerCard" (card)="changeRegisterCard($event)"></app-modal-register>
        <app-modal-login *ngIf="!registerCard" (card)="changeRegisterCard($event)"></app-modal-login>
    </div>
</div>