.chess-board {
    display: flex;
    gap: 0;
    flex-direction: column;
    border: 1px solid grey;
}

.chess-board.inverted {
    flex-direction: column-reverse;
}

.row {
    display: flex;
    flex-direction: row;
}

.chess-board.inverted .row {
    flex-direction: row-reverse;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 15px;
    height: 15px;
}

.chess-board .row:nth-child(odd) .cell:nth-child(odd) {
    background-color: #f2d5cf;
}

.chess-board .row:nth-child(odd) .cell:nth-child(even) {
    background-color: #ff9aa3;
}

.chess-board .row:nth-child(even) .cell:nth-child(even) {
    background-color: #f2d5cf;
}

.chess-board .row:nth-child(even) .cell:nth-child(odd) {
    background-color: #ff9aa3;
}

.cell.pawn.white {
    background-image: url('/assets/wpawn.svg');
}

.cell.rook.white {
    background-image: url('/assets/wrook.svg');
}

.cell.bishop.white {
    background-image: url('/assets/wbishop.svg');
}

.cell.knight.white {
    background-image: url('/assets/wknight.svg');
}

.cell.queen.white {
    background-image: url('/assets/wqueen.svg');
}

.cell.king.white {
    background-image: url('/assets/wking.svg');
}

.cell.pawn.black {
    background-image: url('/assets/bpawn.svg');
}

.cell.rook.black {
    background-image: url('/assets/brook.svg');
}

.cell.bishop.black {
    background-image: url('/assets/bbishop.svg');
}

.cell.knight.black {
    background-image: url('/assets/bknight.svg');
}

.cell.queen.black {
    background-image: url('/assets/bqueen.svg');
}

.cell.king.black {
    background-image: url('/assets/bking.svg');
}

.cell.white, .cell.black {
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;
}