.menu {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.menu li {
    cursor: pointer;
}

button {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
}

button:focus {
    outline: none;
}