.toasts {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.toasts ul {
    list-style: none;
    padding: 0;
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeInOut 3s forwards;
    margin-bottom: 5px;
    width: 150px;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}