<div class="chat-box">
    <div class="chat-message" *ngFor="let msg of chat" [class.self]="msg.self">
        <div class="user">
            <app-avatar [avatar]="'avocado'"></app-avatar>
            <div class="username">{{msg.player}}</div>
        </div>
        <div class="chat-text">{{msg.message}}</div>
    </div>
</div>
<div class="chat-input-container" [formGroup]="chatForm">
    <input type="text" class="chat-input" placeholder="Type your message..." formControlName="message">
    <button class="send-button" (click)="sendMessage()">Send</button>
</div>