:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    flex: 1;
}

.chat-box {
    flex: 1;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
    overflow-y: auto;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.chat-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.chat-message.self {
    flex-direction: row-reverse;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

app-avatar {
    width: 40px;
    height: 40px;
}

.username {
    font-weight: bold;
    color: #555;
    font-size: 0.7em;
    margin: 0;
    padding: 0;
}

.chat-message.self .user {
    margin-left: 10px;
    margin-right: 0;
}

.chat-text {
    max-width: 60%;
    padding: 10px;
    border-radius: 4px 8px 8px 8px;
    background-color: #fff;
    word-wrap: break-word;
    position: relative;
}

.chat-message.self .chat-text {
    background-color: #f2d5cf;
    border-radius: 8px 4px 8px 8px;
}

.chat-text::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -9px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}

.chat-message.self .chat-text::before {
    left: auto;
    right: -9px;
    border-color: transparent transparent transparent #f2d5cf;
}

.chat-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border 0.2s, box-shadow 0.2s;
}

.chat-input:focus {
    border-color: #a8d0e6;
    box-shadow: 0 0 5px rgba(168, 208, 230, 0.8);
}

.send-button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #a8d0e6;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.send-button:hover {
    background-color: #85b4cc;
}

.send-button:active {
    background-color: #639bb8;
}

@media screen and (max-width: 900px) {
    :host {
        margin-left: 0;
    }
}